@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: parrafos;
  src: url(../fonts/Heebo-Light.ttf);
}
@font-face {
  font-family: titulos1;
  src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: titulos2;
  src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: titulos3;
  src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: links;
  src: url(../fonts/Heebo-SemiBold.ttf);
}
@font-face {
  font-family: testimonials;
  src: url(../../fonts/BIZUDPMincho-Regular.ttf);
}
h1 {
  font-family: titulos1;
  color: #1b74bc;
  text-align: center;
  font-size: 45px;
}

.darker-blue {
  color: #1b74bc;
}

h2 {
  font-family: titulos2;
  color: #1b74bc;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: titulos3;
  color: #1b74bc;
}

h4 {
  font-family: parrafos;
  color: #1b74bc;
}

h5 {
  font-family: parrafos;
  color: #1b74bc;
  font-weight: bolder;
}

p {
  font-family: parrafos;
}

a {
  text-decoration: none;
}

#header {
  border-bottom: 3px solid #1b74bc;
  top: 0;
  position: absolute;
  height: auto;
  position: sticky;
  background-color: white;
  z-index: 1;
}
#header .menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#header .menu-items {
  display: grid;
  grid-template-areas: "menuitem1 menuitem2 menuitem3 menuitem4 menuitem5 menuitem6";
  align-items: center;
  justify-content: space-between;
}
#header .navbar {
  display: none;
}

#menuitem1 {
  grid-area: menuitem1;
  margin: 1rem;
  padding: 10px;
}

#menuitem2 {
  grid-area: menuitem2;
  margin: 1rem;
}

#menuitem3 {
  grid-area: menuitem3;
  margin: 1rem;
}

#menuitem4 {
  grid-area: menuitem4;
  margin: 1rem;
}

#menuitem5 {
  grid-area: menuitem5;
  margin: 1rem;
}

#menuitem6 {
  grid-area: menuitem6;
  margin: 1rem;
}

.logo {
  width: 15%;
  text-align: center;
  grid-area: logo;
}

.menu-item {
  font-family: parrafos;
  font-weight: bold;
  color: white;
  text-align: center;
}
.menu-item a {
  border-radius: 6px;
  padding: 10px;
}
.menu-item a:hover {
  transition: all 0.5s;
  color: white;
  background-color: #1762b9;
}

.menu-item-selected {
  font-family: parrafos;
  font-weight: bold;
  color: black;
  text-align: center;
}

#logo {
  width: 80%;
}

.service-pic-mt, .service-pic-wl, .service-pic-t, .service-pic-s, .service-pic-lt, .service-pic-gt, .contact-footer, .pay-paypal, .go-top, .footer-container .menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: grid;
  grid-template-areas: "menu go-top contact-footer" "menu pay-paypal contact-footer";
  grid-template-columns: repeat(3, fr);
  grid-template-rows: 1fr 1fr;
  background-color: black;
}
.footer-container .menu-footer {
  padding: 1rem 0;
  grid-area: menu;
}
.footer-container .menu-footer a {
  color: #1762b9;
  padding: 3px 5px;
  border-radius: 6px;
  font-weight: bolder;
}
.footer-container .menu-footer a:hover {
  transition: all 0.5s;
  background-color: white;
  font-weight: bolder;
}

.menu-footer-selected {
  padding: 3px 5px;
}

.go-top {
  grid-area: go-top;
}
.go-top a {
  color: #1762b9;
  font-weight: bolder;
  padding: 6px;
  border-radius: 7px;
}
.go-top a:hover {
  transition: all 0.4s;
  background-color: white;
}

.pay-paypal {
  grid-area: pay-paypal;
}

.contact-footer {
  padding: 1rem 0;
  grid-area: contact-footer;
  flex-direction: column;
  color: white;
}

#menu-footer li {
  list-style-type: none;
  padding-bottom: 10px;
}

.headline {
  background: url(../../images/banner.jpg);
  background-size: cover;
  padding: 10rem 3rem;
}

.title-headline {
  grid-area: title-headline;
}

.welcome-text {
  grid-area: welcome;
  text-align: center;
  font-weight: bold;
  color: white;
}

.textheadline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: links;
  text-align: center;
  color: #1762b9;
  font-weight: bold;
  font-size: larger;
  border-style: solid;
  color: #1b74bc;
  border-radius: 10px;
  grid-area: button;
  font-size: 20px;
  background-color: white;
  padding: 10px 40px;
  cursor: pointer;
  max-width: 400px;
}
.button a {
  color: black;
}
.button:hover {
  background-color: #1b74bc;
  transition: all 0.5s;
}

.serviceslist-container-home {
  display: grid;
  grid-template-areas: "title title title" "translation transcription subtitling" "viewall viewall viewall";
  width: auto;
  grid-template-columns: repeat(3, fr);
  grid-template-rows: auto;
  justify-content: center;
}

.grid-title {
  grid-area: title;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-translation {
  grid-area: translation;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
}

.grid-transcription {
  grid-area: transcription;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
}

.grid-subtitling {
  grid-area: subtitling;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
}

.grid-viewall {
  grid-area: viewall;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.moreinfo {
  text-align: center;
}

.service {
  max-width: 60%;
  padding: 1rem 0;
}

.service-description {
  margin: 1rem;
}

.languages-title {
  grid-area: languages-title;
}

.language-list1 {
  grid-area: language-list1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.language-list2 {
  grid-area: language-list2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.language-list3 {
  grid-area: language-list3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#languages {
  background-color: black;
}

.languagelist-title {
  font-weight: bold;
  padding: 1rem;
  color: #1b74bc;
}

ul li {
  font-family: parrafos;
  color: white;
}

.testimonials-container-home {
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-areas: "testimonials-title testimonials-title" "testimonial1 testimonial2" "moreinfo-testimonials moreinfo-testimonials";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

.testimonials-title {
  grid-area: testimonials-title;
  display: flex;
  justify-content: center;
}

#testimonial1 {
  grid-area: testimonial1;
}

#testimonial2 {
  grid-area: testimonial2;
}

.testimonial {
  padding: 50px 50px 1rem 50px;
}

.moreinfo-testimonials {
  grid-area: moreinfo-testimonials;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}

.headline-aboutus {
  background-color: black;
  background-size: cover;
  padding: 5rem 3rem;
  display: grid;
  grid-template-areas: "title-headline" "welcome-text";
}

.aboutus-container {
  display: grid;
  grid-template-areas: "aboutus-photo1 aboutus-paragraph1" "aboutus-paragraph2 aboutus-photo2";
  grid-template-columns: 40% 40%;
  justify-content: center;
}
.aboutus-container .aboutus-photo1 {
  grid-area: aboutus-photo1;
  margin: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.aboutus-container .aboutus-photo2 {
  grid-area: aboutus-photo2;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutus-container .aboutus-paragraph1 {
  grid-area: aboutus-paragraph1;
}
.aboutus-container .aboutus-paragraph2 {
  grid-area: aboutus-paragraph2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.aboutus-paragraph {
  text-align: justify;
  margin: 2rem;
}

.standard {
  width: 60%;
}

.location-container {
  background-color: lavender;
  display: grid;
  grid-template-areas: "map our-location";
  grid-template-columns: 1fr 1fr;
}
.location-container .map-responsive {
  margin: 50px;
  grid-area: map;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.location-container .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.location-container .our-location {
  grid-area: our-location;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1041px) {
  /*Home Page */
  .serviceslist-container-home {
    display: grid;
    grid-template-areas: "title title" "translation translation" "transcription subtitling" "viewall viewall";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 40% 40%;
  }
}
@media screen and (max-width: 768px) {
  /*Todas las paginas */
  body {
    padding-top: 150px;
  }

  #header .navbar {
    display: block;
  }
  #header .menu {
    display: none;
  }

  .decreased {
    width: 60%;
  }

  .headline {
    background-size: cover;
    padding: 5rem 2rem 5rem 2rem;
  }

  .footer-container {
    display: grid;
    grid-template-areas: "menu go-top" "menu pay-paypal" "menu contact-footer";
    grid-template-columns: repeat(2, fr);
    grid-template-rows: auto auto auto;
  }

  .button {
    padding: 0.5rem;
    width: 60%;
  }

  /*Home Page */
  .serviceslist-container-home {
    display: grid;
    grid-template-areas: "title" "translation" "transcription" "subtitling" "viewall";
    grid-template-rows: 0.2fr 0.4fr 0.4fr 0.4fr auto;
    grid-template-columns: 100%;
  }

  .testimonials-container-home {
    display: grid;
    grid-template-areas: "testimonials-title" "testimonial1" "testimonial2" "moreinfo-testimonials";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 1fr auto;
  }

  .grid-translation {
    margin: 1rem 0;
  }

  .grid-transcription {
    margin: 1rem 0;
  }

  .grid-subtitling {
    margin: 1rem 0;
  }

  /* About Us page */
  .aboutus-container {
    display: grid;
    grid-template-areas: "aboutus-paragraph1" "aboutus-photo1" "aboutus-paragraph2" "aboutus-photo2";
    grid-template-columns: 100%;
  }

  .standard {
    width: 100%;
  }

  .location-container {
    display: grid;
    grid-template-areas: "map" "our-location";
    grid-template-columns: 70%;
    grid-template-rows: 1fr;
  }

  .our-location {
    text-align: center;
    margin: 1rem;
  }

  /* Our Services page */
  .serviceslist-container {
    display: grid;
    grid-template-areas: "service-gtranslation" "service-ltranslation" "service-mtranslation" "service-subtitling" "service-transcription" "service-website";
    grid-template-columns: auto;
  }

  .service {
    width: 90%;
    margin: 1rem;
    max-width: 450px;
  }

  /* Testimonials page */
  .testimonial {
    padding: 1rem;
  }

  .testimonials-container {
    grid-template-columns: 100%;
  }

  /* Contact Us page */
  #contact {
    font-family: parrafos;
    display: grid;
    grid-template-areas: "title-form" "form " "description-quote";
    grid-template-columns: 100%;
    justify-content: center;
  }

  .description-quote {
    margin: 2rem;
  }
}
@media screen and (max-width: 346px) {
  /* Todas las páginas */
  .footer-container {
    display: grid;
    grid-template-areas: "menu" "go-top" "pay-paypal" "contact-footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 19px;
  }
}
@media screen and (min-width: 768px) {
  .standard {
    min-width: 350px;
  }
}
@media screen and (max-width: 992px) {
  #menuitem1 {
    margin: 2px;
  }

  #menuitem2 {
    margin: 2px;
  }

  #menuitem3 {
    margin: 2px;
  }

  #menuitem4 {
    margin: 2px;
  }

  #menuitem5 {
    margin: 2px;
  }

  #menuitem6 {
    margin: 2px;
  }
}
/* Grids */
/* GRID INDEX */
.body-index {
  display: grid;
  grid-template-areas: "header" "headline" "services" "languages" "sometestimonials" "footer";
}

#header {
  grid-area: header;
}

.headline {
  grid-area: headline;
}

#services {
  grid-area: services;
}

#languages {
  grid-area: languages;
}

#sometestimonials {
  grid-area: sometestimonials;
}

#footer {
  grid-area: footer;
}

/* GRID ABOUT US */
#body-aboutus {
  display: grid;
  grid-template-areas: "header" "headline-aboutus" "body-aboutus" "location" "footer";
}

.headline-aboutus {
  grid-area: headline-aboutus;
}

#body-aboutus {
  grid-area: body-aboutus;
}

#location {
  grid-area: location;
}

/* GRID CONTACT US */
.body-contactus {
  display: grid;
  grid-template-areas: "header" "headline-contactus" "contact" "footer";
}

.headline-contactus {
  grid-area: headline-contactus;
}

#contact {
  grid-area: contact;
}

/* GRID OUR SERVICES */
.body-ourservices {
  display: grid;
  grid-template-areas: "header" "headline-ourservices" "services" "footer";
}

.headline-ourservices {
  grid-area: headline-ourservices;
}

/* GRID QUALITY */
.body-quality {
  display: grid;
  grid-template-areas: "header" "headline-quality" "body-ourprocess" "footer";
}

.headline-quality {
  grid-area: headline-quality;
}

#body-ourprocess {
  grid-area: body-ourprocess;
  margin: 0;
}

/* GRID TESTIMONIALS */
.body-testimonials {
  display: grid;
  grid-template-areas: "header" "headline-testimonials" "body-testimonialspage" "clients-logos" "footer";
}

.headline-testimonials {
  grid-area: headline-testimonials;
}

#body-testimonialspage {
  grid-area: body-testimonialspage;
}

.clients-logos {
  grid-area: clients-logos;
  padding-bottom: 1rem;
  background-color: white;
}

.headline-contactus {
  background-image: url(../images/damian-zaleski-RYyr-k3Ysqg-unsplash.jpg);
  background-size: cover;
  padding: 10rem 3rem 10rem 3rem;
}

.welcome-text-black {
  color: black;
  font-weight: bolder;
  text-align: center;
}

.contact-form {
  background-color: lightcyan;
  width: 80%;
  margin: 3rem;
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem 0 0.5rem 0;
  min-width: 100%;
}

.form-row input[type=text] {
  font-size: 14px;
  border: 1px solid gray;
  min-height: 30px;
}

.form-row textarea {
  resize: none;
  border: 1px solid gray;
  min-height: 50px;
  min-width: 200px;
}

.form-row button {
  font-size: 20px;
  font-weight: bold;
  color: turquoise;
  background-color: black;
  padding: 10px 40px;
  cursor: pointer;
  max-width: 200px;
}

.form-row button:hover {
  background-color: #1c84c9;
}

.form-row button:active {
  background-color: white;
}

.title-form {
  grid-area: title-form;
  text-align: center;
  margin: 2rem;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 25px;
}

.location {
  text-align: center;
  margin: 2rem;
}

.description-quote {
  grid-area: description-quote;
  text-align: justify;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#contact {
  font-family: parrafos;
  display: grid;
  grid-template-areas: "title-form title-form" "form description-quote" "form description-quote";
  grid-template-columns: 60% 30%;
  justify-content: center;
}

.image-contactus {
  width: 100%;
}

.headline-ourservices {
  background-color: black;
  background-size: cover;
  padding: 5rem 3rem 5rem 3rem;
  display: grid;
  grid-template-areas: "title-headline" "welcome-text";
}

.service-description {
  text-align: center;
  padding: 0;
  margin: 2rem;
}

.service-pic {
  max-width: 95%;
  padding: 1rem 0 2rem 0;
}

.enlarged {
  transition: all 1s;
}

.enlarged:hover {
  transform: scale(1.1);
}

.serviceslist-container {
  width: 100%;
  background-color: white;
}

.titleservice {
  text-align: center;
  padding: 0;
  margin: 1rem;
}

.service-gtranslation {
  text-align: justify;
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: start;
}

.service-ltranslation {
  text-align: justify;
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: end;
}

.service-subtitling {
  text-align: justify;
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: start;
}

.service-transcription {
  text-align: justify;
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: end;
}

.service-website {
  text-align: justify;
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: start;
}

.service-mtranslation {
  text-align: justify;
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: end;
}

.headline-quality {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 3rem;
}

#body-ourprocess {
  margin: 2rem;
  text-align: justify;
  display: grid;
  grid-template-areas: "ourprocess-title" "ourprocess" "steps" "image-ourprocess";
  grid-template-columns: 70%;
  justify-content: center;
}

.ourprocess-title {
  grid-area: ourprocess-title;
}

.ourprocess {
  grid-area: ourprocess;
}

.steps {
  grid-area: steps;
}

.image-ourprocess {
  grid-area: image-ourprocess;
  width: 100%;
  display: flex;
  justify-content: center;
}

.quality-img {
  width: 100%;
  padding-bottom: 2rem;
}

.quality-container {
  background-color: white;
}

.headline-testimonials {
  background-color: black;
  background-size: cover;
  padding: 5rem 3rem;
  display: grid;
  grid-template-areas: "title-headline" "welcome-text";
}

.footer-container .menu-footer, .go-top, .pay-paypal, .contact-footer, .service-pic-gt, .service-pic-lt, .service-pic-s, .service-pic-t, .service-pic-wl, .service-pic-mt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-container {
  text-align: center;
  display: grid;
  grid-template-areas: "test-1" "test-2" "image1" "test-3" "test-4" "image2";
  grid-template-columns: 60%;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

#test-1 {
  grid-area: test-1;
}

#test-2 {
  grid-area: test-2;
}

#test-3 {
  grid-area: test-3;
}

#test-4 {
  grid-area: test-4;
}

.client-logo {
  width: 10%;
}

#carouselExampleSlidesOnly {
  height: 223px;
  width: 226px;
}

.our-clients {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.testimonial {
  font-family: testimonials;
  margin: 1px;
  color: black;
  padding: 1rem;
}

.image-testimonial {
  width: 40%;
}

.image-testimonial1 {
  grid-area: image1;
}

.image-testimonial2 {
  grid-area: image2;
}

.footer-container .menu-footer, .go-top, .pay-paypal, .contact-footer, .service-pic-gt, .service-pic-lt, .service-pic-s, .service-pic-t, .service-pic-wl, .service-pic-mt {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
