@import '../base/variables';
@import '../base/mixins';

#contact {
    font-family: parrafos;
    display: grid;
    grid-template-areas:
    "title-form title-form"
    "form description-quote"
    "form description-quote";
    grid-template-columns: 60% 30%;
    justify-content: center;

    .title-form {
        grid-area: title-form;
        text-align: center;
        margin: 1rem;
        border-radius: 3px;
        border: 1px solid $third-color;
        padding: 10px;
    }
    
    .contact-form {
    background-color: $third-color;
    width: 90%;
    margin: 1rem;
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

        .form-row {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0.5rem 0 0.5rem 0;
            min-width: 100%;
        }

        .form-row input[type="text"] {
            font-size: 14px;
            border: 1px solid $secondary-color;
            min-height: 30px;
        }

        .form-row textarea {
            resize: none;
            border: 1px solid $secondary-color;
            min-height: 50px;
            min-width: 200px;
        }

        .form-row button {
            font-size: 20px;
            font-weight: bold;
            color: $secondary-color;
            background-color: $dark;
            padding: 10px 40px;
            cursor: pointer;
            max-width: 200px;

            &:hover {
                background-color: $third-color;
            }

            &:active {
                background-color: $light;
            }
        }
    }
    
    .description-quote {
        grid-area: description-quote;
        text-align: justify;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        .location {
            @include alignment(center, 0, 2rem);
        }
    
        .image-contactus {
            width: 100%;
        }
    }
}



