.headline-contactus {
    background-image: url(../images/damian-zaleski-RYyr-k3Ysqg-unsplash.jpg);
    background-size: cover;
    padding: 10rem 3rem 10rem 3rem;
}

.welcome-text-black {
    color: black;
    font-weight: bolder;
    text-align: center;
}