@import '../base/variables';

.headline-contactus {
    background-image: url(../images/contact-us-image.webp);
    background-size: cover;
    padding: 10rem 3rem;

    .welcome-text-black {
        color: $dark;
        font-weight: bolder;
        text-align: center;
    }
}
