@import '../base/variables';

.serviceslist-container-home {
    display: grid;
    grid-template-areas:
    "title title title"
    "translation transcription subtitling"
    "viewall viewall viewall";
    width: auto;
    grid-template-columns: repeat(3,fr);
    grid-template-rows: auto;
    justify-content: center;
}

.grid-title {
    grid-area: title;
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-translation {
    grid-area: translation;
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
}

.grid-transcription {
    grid-area: transcription;
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
}

.grid-subtitling {
    grid-area: subtitling;
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
}

.grid-viewall {
    grid-area: viewall;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.moreinfo {
    text-align: center;
}

.service {
    max-width: 60%;
    padding: 1rem 0;
}

.service-description {
    margin: $standard-size;
}