@import '../base/variables';

.headline {
    background: url(../../images/banner.jpg);
    background-size: cover;
    padding: 10rem 3rem;
}

.title-headline {
    grid-area: title-headline;
}

.welcome-text {
    grid-area: welcome;
    text-align: center;
    font-weight: bold;
    color: $light;
}

.textheadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: links;
    text-align: center;
    color: $secondary-color;
    font-weight: bold;
    font-size: larger;
    border-style: solid;
    color: $main-color;
    border-radius: 10px;
    grid-area: button;
    font-size: 20px;
    background-color: $light;
    padding: 10px 40px;
    cursor: pointer;
    max-width: 400px;

    a {
        color: $dark;
    }
    
    &:hover {
        background-color: $main-color;
        transition: all .5s;
    }
}