@import '../base/variables';
@import '../base/extends';

.serviceslist-container-home {
    display: grid;
    grid-template-areas:
    "title title title"
    "translation transcription subtitling"
    "viewall viewall viewall";
    width: auto;
    grid-template-columns: repeat(3,fr);
    grid-template-rows: auto;
    justify-content: center;

    .grid-title {
        grid-area: title;
        @extend %flex;
    }

    .grid-translation {
        grid-area: translation;
        @extend %flex;
        flex-direction: column;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .grid-transcription {
        grid-area: transcription;
        @extend %flex;
        flex-direction: column;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .grid-subtitling {
        grid-area: subtitling;
        @extend %flex;
        flex-direction: column;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .grid-viewall {
        grid-area: viewall;
        @extend %flex;
        margin: $standard-size;
    }
    
}