@import '../base/variables';

.serviceslist-container-home {
    display: grid;
    grid-template-areas:
    "title title"
    "translation translation"
    "transcription subtitling"
    "viewall viewall";
    width: auto;
    grid-template-columns: 30% 30%;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
}

.grid-title {
    grid-area: title;
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-translation {
    grid-area: translation;
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-transcription {
    grid-area: transcription;
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-subtitling {
    grid-area: subtitling;
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-viewall {
    grid-area: viewall;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreinfo {
    text-align: center;
}

.service {
    max-width: 60%;
    padding: 1rem 0;
}

.service-description {
    margin: $standard-size;
}