@import '../base/variables';

#languages {
    background-color: $dark;
    width: 100%;

    .languages-title {
        grid-area: languages-title;
    }

    .language-list1 {
        grid-area: language-list1;
        @extend %language;
    }
    
    .language-list2 {
        grid-area: language-list2;
        @extend %language;
    }
    
    .language-list3 {
        grid-area: language-list3;
        @extend %language;
    }
}

ul li {
    font-family: parrafos;
    color: $light;
    list-style: none;
}