@import '../base/variables';

#languages {
    background-color: $dark;

    .languages-title {
        grid-area: languages-title;
    }

    .language-list1 {
        grid-area: language-list1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $standard-size;
    }
    
    .language-list2 {
        grid-area: language-list2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $standard-size;
    }
    
    .language-list3 {
        grid-area: language-list3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $standard-size;
    }
}

ul li {
    font-family: parrafos;
    color: $light;
    list-style: none;
}