@import '../base/variables';
@import '../base/mixins';
@import '../base/maps';

.service-description {
    @include alignment(center, 0, 2rem)
}

.service-pic {
    max-width: 95%;
    padding: 1rem 0 2rem 0;
}

.enlarged {
    transition: all 1s;
}

.enlarged:hover {
    transform: scale(1.1);
}

.serviceslist-container {
    width: 100%;
    background-color: $light;
}

.titleservice {
    @include alignment(center, 0, 1rem)
}

.service-pic-gt {
    @extend %flex;
}

.service-pic-lt {
    @extend %flex;
}

.service-pic-s {
    @extend %flex;
}

.service-pic-t {
    @extend %flex;
}

.service-pic-wl {
    @extend %flex;
}

.service-pic-mt {
    @extend %flex;
}

.service-gtranslation {
    @include alignment(justify, 0, 1rem);
    display: flex;
    justify-content: start;
    border: 1px gray solid;
    border-radius: 4px;
}

.service-ltranslation {
    @include alignment(justify, 0, 1rem);
    display: flex;
    justify-content: end;
    border: 1px gray solid;
    border-radius: 4px;
}

.service-subtitling {
    @include alignment(justify, 0, 1rem);
    display: flex;
    justify-content: start;
    border: 1px gray solid;
    border-radius: 4px;
}

.service-transcription {
    @include alignment(justify, 0, 1rem);
    display: flex;
    justify-content: end;
    border: 1px gray solid;
    border-radius: 4px;
}

.service-website {
    @include alignment(justify, 0, 1rem);
    display: flex;
    justify-content: start;
    border: 1px gray solid;
    border-radius: 4px;
}

.service-mtranslation {
    @include alignment(justify, 0, 1rem);
    display: flex;
    justify-content: end;
    border: 1px gray solid;
    border-radius: 4px;
}
