#body-ourprocess {
    margin: 2rem;
    text-align: justify;
    display: grid;
    grid-template-areas: 
    "ourprocess-title"
    "ourprocess"
    "steps"
    "image-ourprocess";
    grid-template-columns: 70%;
    justify-content: center;
}

.ourprocess-title {
    grid-area: ourprocess-title;
}

.ourprocess {
    grid-area: ourprocess;
}

.steps {
    grid-area: steps;
}

.image-ourprocess {
    grid-area: image-ourprocess;
    width: 100%;
    display: flex;
    justify-content: center;
}

.quality-img {
    width: 100%;
    padding-bottom: 2rem;
}

.quality-container {
    background-color: $light;
}