@import '../base/variables';
@import '../base/extends';

#body-ourprocess {
    margin: 2rem;
    text-align: justify;
    display: grid;
    grid-template-areas: 
    "ourprocess-title"
    "ourprocess"
    "steps"
    "image-ourprocess";
    grid-template-columns: 70%;
    justify-content: center;

    .quality-container {
        background-color: $light;

        .ourprocess-title {
            grid-area: ourprocess-title;
        }

        .ourprocess {
            grid-area: ourprocess;
        }
        
        .steps {
            grid-area: steps;
            
            .chart {
                text-align: center;
            }
        }        
    }
}

.explanation {
    text-align: center;
}
