@import '../base/variables';
@import '../base/maps';
@import '../base/extends';

.testimonials-container {
    text-align: center;
    display: grid;
    grid-template-areas: 
    "test-1 test-2"
    "test-3 test-4"
    "test-5 test-6";
    grid-template-columns: 40% 40%;
    justify-content: center;

    #test-1 {
        grid-area: test-1;
    }
    
    #test-2 {
        grid-area: test-2;
    }
    
    #test-3 {
        grid-area: test-3;
    }
    
    #test-4 {
        grid-area: test-4;
    }

    #test-5 {
        grid-area: test-5;
    }

    #test-6 {
        grid-area: test-6;
    }

    .testimonial {
        font-family: testimonials;
        margin: map-get($testimonial, margin-testimonial);
        color: map-get($testimonial, color-testimonial);
        padding: map-get($testimonial, padding-testimonial);
        border: 2px solid $third-color;
        border-radius: 20px;
        background-color: $light;
    }

    .name-testimonial {
        color: $dark;
    }
}

.our-clients {
    @extend %flex;

    #carouselExampleSlidesOnly {
        height: 220px;
        width: 220px;
        text-align: center;
    }
}