@import '../base/variables';
@import '../base/maps';
@import '../base/extends';

.testimonials-container {
    text-align: center;
    display: grid;
    grid-template-areas: 
    "test-1"
    "test-2"
    "image1"
    "test-3"
    "test-4"
    "image2";
    grid-template-columns: 70%;
    justify-content: center;

    #test-1 {
        grid-area: test-1;
    }
    
    #test-2 {
        grid-area: test-2;
    }
    
    #test-3 {
        grid-area: test-3;
    }
    
    #test-4 {
        grid-area: test-4;
    }

    .testimonial {
        font-family: testimonials;
        margin: map-get($testimonial, margin-testimonial);
        color: map-get($testimonial, color-testimonial);
        padding: map-get($testimonial, padding-testimonial);
        border: 2px solid $third-color;
        border-radius: 20px;
        background-color: $light;

        .quotation-marks {
            width: 3rem;
        }
    }

    .image-testimonial {
        width: 40%;
    }
    
    .image-testimonial1 {
        grid-area: image1;
    }
    
    .image-testimonial2 {
        grid-area: image2;
    }
}

.our-clients {
    @extend %flex;
    flex-direction: row;


    #carouselExampleSlidesOnly {
        height: 223px;
        width: 226px;
    }
}



