@import 'variables';

* {
    margin: 0;
    padding: 0;
}

.disclaimer {
    display: none;
}

@font-face {
    font-family: parrafos;
    src: url(../fonts/Heebo-Light.ttf);
}

@font-face {
    font-family: titulos1;
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: titulos2;
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: titulos3;
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: links;
    src: url(../fonts/Heebo-SemiBold.ttf);
}

@font-face {
    font-family: testimonials;
    src: url(../../fonts/BIZUDPMincho-Regular.ttf);
}

h1 {
    font-family: titulos1;
    color: $main-color;
    text-align: center;
    font-size: 45px;
}

.darker-blue {
    color: $main-color;
}

h2 {
    font-family: titulos2;
    color: $main-color;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    font-family: titulos3;
    color: $main-color;
}

h4 {
    font-family: parrafos;
    color: $main-color;
}

h5 {
    font-family: parrafos;
    color: $main-color;
    font-weight: bolder;
}

p {
    font-family: parrafos;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ol li {
    font-family: parrafos;
    font-weight: bold;
}