@import 'variables';

#header {
    height: auto;
    width: 100%;
    z-index: 1;

    .menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        #menuitem1 {
            grid-area: menuitem1;
            @extend %menuitem;
        }
        
        #menuitem2 {
            grid-area: menuitem2;
            @extend %menuitem;
        }
        
        #menuitem3 {
            grid-area: menuitem3;
            @extend %menuitem;
        }
        
        #menuitem4 {
            grid-area: menuitem4;
            @extend %menuitem;
        }
        
        #menuitem5 {
            grid-area: menuitem5;
            @extend %menuitem;
        }
        
        #menuitem6 a {
            grid-area: menuitem6;
            background-color: $secondary-color;
            border-radius: 6px;
            padding: 10px;
            color: $light;
            font-family: parrafos;
            font-weight: bolder;
            @extend %menuitem;

            &:hover {
                transition: all .5s;
                color: $light;
                background-color: $dark;
            }
        }

        .menu-item {
            font-family: parrafos;
            font-weight: bold;
            color: $light;
            text-align: center;
        
            a {
                border-radius: 6px;
                padding: 10px;
                
                &:hover {
                    transition: all .5s;
                    color: $light;
                    background-color: $secondary-color;
                }
            }
        }
        
        .menu-item-selected {
            font-family: parrafos;
            font-weight: bold;
            color: $third-color;
            text-align: center;
            padding: 10px;
        }

        .menu-item-selected2 {
            font-family: parrafos;
            font-weight: bold;
            color: $dark;
            text-align: center;
            padding: 10px;
        }
    }

    .logo-style {
        font-family: titulos3;
        font-size: 1.5rem;
        text-shadow: -1px 0 $dark, 0 1px $third-color, 1px 0 $third-color, 0 -1px $third-color;
        padding: 1rem;
        color: $main-color;
    }

    .menu-items {
        @extend %menu;

        a {
            color: $light;
        }
    }

    .menu-items2 {
        @extend %menu;

        a {
            color: $dark;
        }
    }

    .navbar {
        display: none;
    }
}





