@import 'variables';

#header {
    border-bottom: 3px solid $main-color;
    height: auto;
    top: 0;
    position: sticky;
    width: 100%;
    background-color: $light;
    z-index: 1;

    .menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        #menuitem1 {
            grid-area: menuitem1;
            margin: $standard-size;
        }
        
        #menuitem2 {
            grid-area: menuitem2;
            margin: $standard-size;
        }
        
        #menuitem3 {
            grid-area: menuitem3;
            margin: $standard-size;
        }
        
        #menuitem4 {
            grid-area: menuitem4;
            margin: $standard-size;
        }
        
        #menuitem5 {
            grid-area: menuitem5;
            margin: $standard-size;
        }
        
        #menuitem6 a {
            grid-area: menuitem6;
            margin: $standard-size;
            background-color: $secondary-color;
            border-radius: 6px;
            padding: 10px;
            color: $light;
            font-family: parrafos;
            font-weight: bolder;

            &:hover {
                transition: all .5s;
                color: $light;
                background-color: $dark;
            }
        }

        .logo {
            width: 15%;
            text-align: center;
            grid-area: logo;
        }
        
        .menu-item {
            font-family: parrafos;
            font-weight: bold;
            color: $light;
            text-align: center;
        
            a {
                border-radius: 6px;
                padding: 10px;
                
                &:hover {
                    transition: all .5s;
                    color: $light;
                    background-color: $secondary-color;
                }
            }
        }
        
        #logo {
            width: 80%;
        }

        .menu-item-selected {
            font-family: parrafos;
            font-weight: bold;
            color: $dark;
            text-align: center;
            padding: 10px;
        }
    }

    .menu-items {
        display: grid;
        grid-template-areas: 
        "menuitem1 menuitem2 menuitem3 menuitem4 menuitem5 menuitem6";
        align-items: center;
        justify-content: space-between;
    }

    .navbar {
        display: none;
    }
}





