@import 'variables';

#header {
    border-bottom: 3px solid $main-color;
    top: 0;
    position: absolute;
    height: auto;
    position: sticky;
    background-color: $light;
    z-index: 1;

    .menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .menu-items {
        display: grid;
        grid-template-areas: 
        "menuitem1 menuitem2 menuitem3 menuitem4 menuitem5 menuitem6";
        align-items: center;
        justify-content: space-between;
    }

    .navbar {
        display: none;
    }
}

#menuitem1 {
    grid-area: menuitem1;
    margin: 1rem;
    padding: 10px;
}

#menuitem2 {
    grid-area: menuitem2;
    margin: 1rem;
}

#menuitem3 {
    grid-area: menuitem3;
    margin: 1rem;
}

#menuitem4 {
    grid-area: menuitem4;
    margin: 1rem;
}

#menuitem5 {
    grid-area: menuitem5;
    margin: 1rem;
}

#menuitem6 {
    grid-area: menuitem6;
    margin: 1rem;
}

.logo {
    width: 15%;
    text-align: center;
    grid-area: logo;
}

.menu-item {
    font-family: parrafos;
    font-weight: bold;
    color: $light;
    text-align: center;

    a {
        border-radius: 6px;
        padding: 10px;
        
        &:hover {
            transition: all .5s;
            color: $light;
            background-color: $secondary-color;
        }
    }
}

.menu-item-selected {
    font-family: parrafos;
    font-weight: bold;
    color: $dark;
    text-align: center;
}

#logo {
    width: 80%;
}