@import 'variables';

/* MEDIA QUERIES */

@media screen and (max-width:1041px) {
        /*Home Page */

        .serviceslist-container-home {
            display: grid;
            grid-template-areas:
            "title title"
            "translation translation"
            "transcription subtitling"
            "viewall viewall";
            grid-template-rows: repeat(4,auto);
            grid-template-columns: 40% 40%;
        }
}

@media screen and (max-width:991px) {
    #header {
        .navbar {
            display: block;
            background-color: $light;
            
            .logo {
                .logo-style {
                    font-size: 1.2rem;
                    text-shadow: -1px 0 $dark, 0 1px $third-color, 1px 0 $third-color, 0 -1px $third-color;
                    padding: 1rem;
                }
            }
        }
        .menu {
            display: none;
        }
    }

    body {
        padding-top: 80px;
    }
}

@media screen and (max-width:767px) {
    /*Todas las paginas */

    body {
        padding-top: 150px;
    }

    .decreased {
        width: 60%;
    }

    .headline {
        background-size: cover;
        padding: 3rem 0 6rem 0;
    }

    .footer-container {
        display: grid;
        grid-template-areas:
        "menu go-top"
        "menu pay-paypal"
        "menu contact-footer";
        grid-template-columns: repeat(2,fr);
        grid-template-rows: auto auto auto;
    }

    .button {
        padding: 0.5rem;
        width: 60%;
    }

    /*Home Page */

    .serviceslist-container-home {
        display: grid;
        grid-template-areas:
        "title"
        "translation"
        "transcription"
        "subtitling"
        "viewall";
        grid-template-rows: 0.2fr 0.4fr 0.4fr 0.4fr auto;
        grid-template-columns: 100%;
    }

    .testimonials-container-home {
        display: grid;
        grid-template-areas: 
        "testimonials-title"
        "testimonial1"
        "testimonial2"
        "moreinfo-testimonials";
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr 1fr auto;
    }

    .grid-translation {
        margin: 1rem 0;
    }

    .grid-transcription {
        margin: 1rem 0;
    }

    .grid-subtitling {
        margin: 1rem 0;
    }

    /* About Us page */

    .aboutus-container {
        display: grid;
        grid-template-areas:
        "aboutus-paragraph1"
        "aboutus-photo1"
        "aboutus-paragraph2"
        "aboutus-photo2";
        grid-template-columns: 100%;
    }

    .standard {
        width: 100%;
    }

    .location-container {
        display: grid;
        grid-template-areas:
        "map"
        "our-location";
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
    }

    .our-location {
        text-align: center;
        margin: 1rem;
    }

    /* Our Services page */

    .service {
        width: 90%;
        margin: 1rem;
        max-width: 450px;
    }

    .service-gtranslation {
        border: 1px gray solid;
        border-radius: 4px;
    }

    .service-ltranslation {
        border: 1px gray solid;
        border-radius: 4px;
    }
    
    .service-subtitling {
        border: 1px gray solid;
        border-radius: 4px;
    }
    
    .service-transcription {
        border: 1px gray solid;
        border-radius: 4px;
    }
    
    .service-website {
        border: 1px gray solid;
        border-radius: 4px;
    }
    
    .service-mtranslation {
        border: 1px gray solid;
        border-radius: 4px;
    }

    /* Testimonials page */ 

    .testimonial {
        padding: 1rem;
    }

    .testimonials-container {
        grid-template-columns: 100%;

        .quotation-marks {
            width: 40px;
        }
    }

    /* Contact Us page */

    #contact {
        grid-template-areas:
        "title-form"
        "form"
        "description-quote" !important;
        grid-template-columns: 100% !important;
        justify-content: center;
    }

    .contact-form {
        margin: 1rem;
        display: flex;
        justify-content: center;
    }

    .description-quote {
        margin: 2rem;
        padding-right: 0;
    } 
}

@media screen and (max-width:346px) {

    /* Todas las páginas */

    .footer-container {
        display: grid;
        grid-template-areas:
        "menu"
        "go-top"
        "pay-paypal"
        "contact-footer";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }
    
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 19px;
    }

}

@media screen and (max-width:393px) {
    /* Contact Us */

    .form-row textarea {
        min-height: 50px !important;
        min-width: 100% !important;
    }

    .form-row {
        min-height: 50px !important;
        min-width: 100% !important;
    }

    .form {
        width: 100% !important;
    }

    .contact-form {
        margin: 1rem !important;
    }

    #file {
        word-wrap: break-word;
        font-size: xx-small;
    }

    .form-submission {
        font-size: 12px;
    }
}

@media screen and (max-width:992px) {
    #menuitem1 {
        margin: 2px;
    }
    
    #menuitem2 {
        margin: 2px;
    }
    
    #menuitem3 {
        margin: 2px;
    }
    
    #menuitem4 {
        margin: 2px;
    }
    
    #menuitem5 {
        margin: 2px;
    }
    
    #menuitem6 {
        margin: 2px;
    }
}

/* Grids */

/* GRID INDEX */

.body-index {
    display: grid;
    grid-template-areas:
    "header"
    "headline"
    "services"
    "languages"
    "sometestimonials"
    "footer";
    grid-template-rows: auto auto 1fr auto 0.5fr auto;
}

#header {
    grid-area: header;
}

.headline {
    grid-area: headline;
}

#services {
    grid-area: services;
}

#languages {
    grid-area: languages;
}

#sometestimonials {
    grid-area: sometestimonials;
}

#footer {
    grid-area: footer;
}

/* GRID ABOUT US */

#body-aboutus {
    display: grid;
    grid-template-areas: 
    "header"
    "headline-aboutus"
    "body-aboutus"
    "location"
    "footer";
}

.headline-aboutus {
    grid-area: headline-aboutus;
}

#body-aboutus {
    grid-area: body-aboutus;
}

#location {
    grid-area: location;
}

/* GRID CONTACT US */

.body-contactus {
    display: grid;
    grid-template-areas:
    "header"
    "headline-contactus"
    "contact"
    "footer";
}

.headline-contactus {
    grid-area: headline-contactus;
}

#contact {
    grid-area: contact;
}

/* GRID OUR SERVICES */

.body-ourservices {
    display: grid;
    grid-template-areas:
    "header"
    "headline-ourservices"
    "services"
    "footer";
}

.headline-ourservices {
    grid-area: headline-ourservices;
}


/* GRID QUALITY */

.body-quality {
    display: grid;
    grid-template-areas:
    "header"
    "headline-quality"
    "body-ourprocess"
    "footer";
}

.headline-quality {
    grid-area: headline-quality;
}

#body-ourprocess {
    grid-area: body-ourprocess;
    margin: 0;
}


/* GRID TESTIMONIALS */

.body-testimonials {
    display: grid;
    grid-template-areas:
    "header"
    "headline-testimonials"
    "body-testimonialspage"
    "clients-logos"
    "footer";
}

.headline-testimonials {
    grid-area: headline-testimonials;
}

#body-testimonialspage {
    grid-area: body-testimonialspage;
}

.clients-logos {
    grid-area: clients-logos;
    padding-bottom: 1rem;
    background-color: $light;
}
